.activity img {
    max-height: 10rem;
    width: 100%;
}

@media screen and (min-width: 400px)  {

    .activity {
        width: 400px;
        margin: auto;
    }


    .activity img{
        width: 400px;
    }
}